* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Azeret Mono", monospace;
}

.banner {
    background: url("../images/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-contant {
    width: 998px;
    margin: 0px auto;
    padding: 26px 0px 45px 0px;
    text-align: center;
}

.banner-images {
    margin-bottom: 32px;

}

.banner-hading {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
}

.banner-des {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    margin-top: 24px;
}

.banner-button {
    margin-top: 32px;
}

.btn {
    padding: 21px 24px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    border-radius: 8px;
    background: rgb(13, 19, 33);
}

main,
footer {
    max-width: 1040px;
    margin: 0px auto;

}

.why-devolopment {
    margin-top: 74px;
    padding: 80px 96px;
}

.why-dev-header {
    text-align: center;
}

.section-hading {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    margin-bottom: 24px;
}

.section-des {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    opacity: 0.7;
}

.why-dev-content {
    margin-top: 48px;
}

.why-dev-content-1 {
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 48px;
    margin-top: 32px;
}

.row-reverse {
    flex-direction: row-reverse !important;
}


.why-dev-img {
    width: 100%;
}

.why-dev-text {}

.why-dev-t-hadding {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    margin-bottom: 16px;
}

.why-dev-t-des {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    margin-bottom: 32px;
}

.larn-more-button {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
}

.my-inspiration {
    margin-top: 90px;
}

.my-inspiration-hading {
    text-align: center;
    max-width: 852px;
    margin: 0px auto;
}

.inspiration-video {
    padding: 32px;
    margin-top: 48px;
}

.inspiration-video iframe {
    width: 100%;
    height: 500px;
}

.my-current-target {
    margin-top: 150px;
}

.target-header {
    text-align: center;
    max-width: 946px;
    margin: 0px auto;
}

.target-contant {
    display: flex;
    gap: 24px;
    margin-top: 48px;
}

.target-card {
    padding: 40px;
}

.target-card-images {}

.target-card-title {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    margin-top: 24px;
    margin-bottom: 8px;
}


.target-calss-des {
    color: rgb(13, 19, 33);
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    opacity: 0.7;
    margin-bottom: 24px;
}

.target-calss-link {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
}

.target-html-bg {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.target-css-bg {
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.target-js-bg {
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

.supprot {
    margin-top: 50px;
    background: url("../images/handshake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.supprot-bg {
    border-radius: 16px;
    background: #00000033;
}

.support-contant {
    padding: 64px 48px;
    max-width: 730px;
    margin: 0px auto;
    text-align: center;
}

.support-hading {}

.support-title {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    margin-bottom: 16px;
}

.support-des {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    opacity: 0.7;
    margin-bottom: 24px;
}

.support-input-groop {
    display: flex;
    gap: 16px;
    align-items: center;
}

.support-input {
    padding: 20px;
    width: 500px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    outline: none;
}

.support-input-button {
    padding: 17px 20px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    border: none;
}

.contact {
    margin-top: 80px;
    padding: 32px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}

.contact-text {}

.contact-title {}

.contact-icon {}